header.header
  .header__logo
    a.nav__el.heading-primary(href='/') Disqus
  nav.nav-post
    a.nav__el(href='/') All Posts
  nav.nav.nav--links
    a.nav__el.nav__el--login(href='/login') Login
    //- | 
    //- a.nav__el.nav__el--signup(href='#') Sign Up
    //
      <a href="#" class="nav__el">Logout</a>
      <a href="#" class="nav__el">
      <img src="/img/default.img" alt="User Image">
      <span> Name</span>
      </a>
