doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  link(href='https://fonts.googleapis.com/css?family=Raleway:100,300,400,600,800&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='/css/style.css')
  link(rel="shortcut icon", href="/img/favicon.ico", type="image/x-icon")
  title=title


body.container
  // HEADER
  include _header

  // CONTENT
  block content


  //FOOTER
  footer.footer &copy; 2020 by Anjan Poonacha

  // SCRIPT
  script.
    const changeCheckbox = function(e) {
    const att =  event.currentTarget.id;
    let item = document.getElementById(att);
    switch (item.getAttribute('aria-checked')) {
    case "true":
    item.setAttribute('aria-checked', "false");
    break;
    case "false":
    item.setAttribute('aria-checked', "true");
    break;
    }
    }

    //- const changeButtons = function(e) {
    //- const att =  event.currentTarget.id;
    //- let item = document.getElementById(att);
    //- switch (item.getAttribute('aria-pressed')) {
    //- case "true":
    //- item.setAttribute('aria-pressed', "false");
    //- break;
    //- case "false":
    //- item.setAttribute('aria-pressed', "true");
    //- break;
    //- }
    //- }
  script(src="/dist/bundle.js")